/*全局变量*/
body{margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px;color:#454545; overflow-x:hidden;}
ul,ol{list-style:none; margin:0px; padding:0px;}
form{padding:0px; margin:0px;}
img{ border:none;}
a{text-decoration:none; color:#454545;}
a:hover{text-decoration:underline;}
h1,h2,h3,h4,h5,p{margin:0px; padding:0px;}
.yd-pdwid{ width:980px; margin:0px auto 10px auto; overflow:hidden;}
.yd-width{ width:980px; margin:0px auto; }
.yd-ad{ overflow:hidden;}
.yd-ad img{ float:left;}
.clear{ clear:both;}
/*易都总平台头部*/
.yda-head{ height:28px;width:100%; background:#F2F2F2; font-family:"宋体";}
.yda-head p{ width:345px; float:left; color:#999; line-height:30px;  height:28px; overflow:hidden;}
.yda-head p a{ color:#B1081D;}
.yd-hdlink{ width:630px; float:right;}
.yd-hdlink ul{ float:right;}
.yd-hdlink li{ float:left; line-height:30px; background:url(../images/yda-smbg.gif) 0 8px no-repeat; padding:0px 8px; height:28px; overflow:hidden;}
.yd-hdlink li a{ color:#666;}
.yd-hdlink li.gwc{background:url(../images/yda-smbg.gif) 0 -105px no-repeat; padding:0px 0px 0px 27px;}
.yd-hdlink li.gwc a{ float:left; background:url(../images/yda-smbg.gif) right -130px no-repeat; height:28px; padding-right:15px; overflow:hidden;}
.yd-hdlink li.nobg{ background:none;}
.yda-top{ overflow:hidden; height:113px;}
.yda-logo{ width:335px; float:left;}
.yda-ser{ width:610px; float:right; height:75px; overflow:hidden; margin:21px 0px 0px 0px;}
.yda-ser .tit{ height:29px; overflow:hidden; position:relative; bottom:-2px; padding-left:40px;}
.yda-ser .tit p{ float:left; width:62px; height:29px; line-height:31px; text-align:center; font-size:14px; color:#404040; cursor:pointer;}
.yda-ser .tit p.cur{ background:url(../images/yda-tabtitbg.gif) 0px 0px no-repeat;color:#B1081D; font-weight:bold;}
.yda-ser .box{ width:100%; overflow:hidden; display:none;}
.yda-ser .box .ser{ background:url(../images/yda-totbg.gif) 0px 0px no-repeat; width:550px; float:left; height:46px;}
.yda-ser .box .ser input{ width:390px; float:left; height:24px; line-height:24px; overflow:hidden; border:0px; margin:11px 0px 0px 45px; color:#B0B0B0;}
.yda-ser .box .ser a{float:right; width:80px; height:30px; float:right;  margin:8px 13px 0px 0px; text-indent:-999px;}
.yda-ser .box .gjser{ width:55px; float:left;text-align:center; line-height:1.4; padding-top:6px;}
.yda-ser .box .gjser a{color:#BEBEBE;}
.yda-ser .first{ display:block;}
.yda-nav{ width:100%; height:46px; overflow:hidden; background:url(../images/yda-smbg.gif) 0px -189px repeat-x; margin-bottom:10px;}
.yda-nav ul{ overflow:hidden; width:980px; margin:0px auto;}
.yda-nav li{ float:left;background:url(../images/yda-tabtitbg.gif) 0 -77px no-repeat; height:40px; line-height:42px; overflow:hidden; margin:1px 0px 0px 0px; padding:0px 26px; font-size:14px;margin-left:-1px;}
.yda-nav li a{color:#FFF; blr:expression(this.onFocus=this.blur()); outline:none;}
.yda-nav li a:hover{ text-decoration:none; color:#FFF;}
.yda-nav li.cur{border:1px solid #A20012; background:url(../images/yda-tabtitbg.gif) 0 -33px no-repeat; margin:0px; position:relative; padding:0px 27px;}
.yda-nav li.cur a{color:#434343; font-weight:bold;}
.yda-nav li.cur a:hover{color:#434343;}
/*易都总平台低部*/
.yda-bot{ border:1px solid #E3E3E3; width:978px;}
.yda-bot s{ height:10px; overflow:hidden; width:100%; display:block;}
.yda-botmain{background:url(../images/yda-botrepy.gif) repeat-y 13px 0px; overflow:hidden; zoom:1; padding-left:13px;}
.yda-botmain .box{ width:190px; float:left; display:inline; text-align:center; padding:5px 0px;}
.yda-botmain .box h4{ width:138px; height:34px; text-indent:-999px; overflow:hidden; margin:0px auto 8px auto;}
.yda-botmain .box h4 a{ width:100%; height:30px; float:left;}
.yda-botmain .box01 h4{background:url(../images/yda-botbg.gif) no-repeat 0px 0px;}
.yda-botmain .box02 h4{background:url(../images/yda-botbg.gif) no-repeat 0px -37px;}
.yda-botmain .box03 h4{background:url(../images/yda-botbg.gif) no-repeat 0px -75px;}
.yda-botmain .box04 h4{background:url(../images/yda-botbg.gif) no-repeat 0px -112px;}
.yda-botmain .box05 h4{background:url(../images/yda-botbg.gif) no-repeat 0px -150px;}
.yda-botmain .box p{ height:23px; line-height:23px; overflow:hidden; width:138px; overflow:hidden; margin:0px auto; text-align:center;}
.yda-botlink{ width:100%; border-top:2px solid #E52E40; background:#F3F3F3; padding:15px 0px;}
.yda-botlink .link{ color:#E2E2E2; text-align:center; font-family:"宋体"; line-height:1.9; margin-bottom:5px;}
.yda-botlink .link a{ color:#313131; margin-right:2px;}
.yda-botlink .link a:hover{text-decoration:underline; color:#B1081D;}
.yda-botlink .info{ text-align:center; line-height:1.9; font-family:"宋体"; color:#999;}
.aebiz-jsjc{ text-align:center; margin-top:5px; color:#B1081D;}
.aebiz-jsjc a{ color:#B1081D;}
/*城市平台第一版头部*/
.ydb-topad{ width:100%; text-align:center;}
.ydb-topad img{ vertical-align:middle;}
.ydb-head{ height:110px; border-bottom:5px solid #439D45; margin-bottom:10px;}
.ydb-head a{ color:#676767;}
.ydb-head a:hover{ text-decoration:underline; color:#FF7600;}
.ydb-logo{ width:145px; float:left;}
.ydb-headrig{ width:830px; float:right;}
.ydb-headrig .toplink{ overflow:hidden; zoom:1; font-family:"宋体"; height:22px; line-height:22px; overflow:hidden; margin:25px 0px 20px 0px;}
.ydb-headrig .toplink ul{ float:right;}
.ydb-headrig .toplink li{ float:left;background:url(../images/ydb-smbg.gif) left 5px no-repeat; padding:0px 6px;color:#676767;}
.ydb-headrig .toplink li.first{ background:none;}
.ydb-headrig .toplink li.first a.login{color:#FF7600;}
.ydb-headrig .toplink li.gwc{background:url(../images/ydb-smbg.gif) left -27px no-repeat; padding-left:30px;}
.ydb-headrig .toplink li.gwc a{ float:left;background:url(../images/ydb-smbg.gif) right -50px no-repeat; padding-right:10px; font-weight:bold;}
.ydb-headrig .toplink li.kf a{ float:left;background:url(../images/ydb-smbg.gif) right -78px no-repeat; padding-right:14px;}
.ydb-headrig .nav{ width:525px; float:left; height:27px; overflow:hidden;}
.ydb-headrig .nav .main{ float:right;}
.ydb-headrig .nav a{ float:left;}
.ydb-headrig .serch{ width:305px; float:right;}
.ydb-headrig .ser{ width:227px; height:27px; float:left; background:url(../images/ydb-totbg.gif) no-repeat; position:relative;z-index:1;}
.ydb-headrig .ser input{ height:18px; line-height:18px; border:0px; float:left; width:140px; color:#676767; margin:4px 0px 0px 5px;}
.ydb-headrig .ser s{ width:27px; height:27px; float:left; cursor:pointer;}
.ydb-headrig .ser a.serx{ float:right; width:46px; height:27px; text-indent:-99px; overflow:hidden;}
.ydb-headrig .openbox{ width:173px; height:250px; border:2px solid #429C45; border-top:0px; position:absolute; top:27px; left:0px; background:#FFF; overflow-y:scroll; overflow-x:hidden; display:none;}
.ydb-headrig .openbox a{ display:block; zoom:1; height:25px; line-height:25px; overflow:hidden; padding:0px 10px;}
.ydb-headrig .openbox a:hover{ background:#FFC; color:#439D45; text-decoration:none;}
.ydb-headrig .tel{ width:70px; float:left; font-family:"宋体"; padding-left:5px; color:#9A9A9A;}
/*城市平台第一版尾部*/
.ydb-hotcity{ width:938px; padding-left:40px; border:1px solid #E3E3E3; margin:0px auto 10px; height:auto !important; height:75px; min-height:75px;background:url(../images/ydb-botbg.gif) no-repeat -161px 0px; overflow:hidden;}
.ydb-hotcity .link{ overflow:hidden; width:930px; float:left; line-height:2.3; margin-top:12px;}
.ydb-hotcity .link a{background:url(../images/yda-smbg.gif) 0px -244px no-repeat; white-space:nowrap; padding:0px 12px 0px 12px; margin-left:-1px; float:left; color:#363636;}
.ydb-bot{ width:978px; border:1px solid #E3E3E3; margin:0px auto; overflow:hidden; clear:both;}
.ydb-bot .ydb-bothelp{ overflow:hidden; zoom:1; padding:10px 0px 20px 10px;}
.ydb-bot .ydb-bothelp a{ color:#333333;}
.ydb-bot .box{ width:160px; float:left; overflow:hidden; margin:0px 14px;}
.ydb-bot .box h5{ height:27px;  font-size:13px; padding:17px 0px 0px 44px; overflow:hidden;}
.ydb-bot .box p{ font-family:"宋体"; padding-left:34px; line-height:19px; height:19px; overflow:hidden;}
.ydb-bot .box01 h5{background:url(../images/ydb-botbg.gif) 0px 0px;}
.ydb-bot .box02 h5{background:url(../images/ydb-botbg.gif) 0px -46px;}
.ydb-bot .box03 h5{background:url(../images/ydb-botbg.gif) 0px -91px;}
.ydb-bot .box04 h5{background:url(../images/ydb-botbg.gif) 0px -142px;}
.ydb-bot .box05 h5{background:url(../images/ydb-botbg.gif) 0px -188px;}
.ydb-bot .botad{ width:100%; text-align:center; margin-bottom:10px;}
.ydb-botlink{ width:980px; margin:10px auto 5px; text-align:center; height:20px; line-height:20px; color:#333; font-family:"宋体";}
.ydb-botlink a{color:#333333; margin-right:2px;}
.ydb-botlink a:hover{ color:#333;}
.ydb-botmain{ width:980px; margin:0px auto; text-align:center; line-height:1.8; font-family:"宋体";}

/*城市平台第二版头部*/
.ydc-top{ height:30px; margin-bottom:10px; margin:0 auto;}
.ydc-top a{ color:#676767;}
.ydc-top a:hover{ text-decoration:underline;  color:#2279BC;}
.ydc-left{ width:206px; float:left;overflow:hidden; zoom:1; font-family:"宋体"; height:30px; line-height:30px; padding-left:5px;}
.ydc-right{ width:755px; float:right; overflow:hidden; zoom:1; font-family:"宋体"; height:30px; line-height:30px;}
.ydc-right ul{ float:right;}
.ydc-right li{ float:left; background:url(../images/ydb-smbg.gif) left 9px no-repeat;  padding:0px 5px;color:#676767;}
.ydc-right li.first{ background:none;}
.ydc-right li.gwc{background:url(../images/ydc-smbg.gif) 0px 4px no-repeat; padding-left:28px;}
.ydc-right li.gwc a{ float:left;background:url(../images/ydc-smbg.gif) right -22px no-repeat; color:#2279bc; padding-right:12px; font-weight:bold;}
.ydc-right li.kf a{ float:left;background:url(../images/ydc-smbg.gif) right -81px no-repeat; padding-right:16px;}
.ydc-right li.tel{ background:url(../images/ydc-smbg.gif) left -48px no-repeat; padding-left:30px; color:#1d7bb9;}
.ydc-nav{ width:100%; background:url(../images/ydc-navbg.gif); height:71px}
.ydc-navmain{ width:980px; margin:0 auto;}
.ydc-navmain .logo{ float:left; width:240px; overflow:hidden;}
.ydc-navmain .soso{ float:left; width:340px; height:25px; margin:24px 0px 0px 0px; background:url(../images/ydc-nav.gif);}
.ydc-navmain .soso .spfl{ width:85px; float:left; position:relative; z-index:999;}
.ydc-navmain .soso .spfl input.list{ width:60px; overflow:hidden; float:left; border:0px; padding:0px; height:20px; line-height:20px; margin:3px 0px 0px 5px; color:#1b7abc; text-align:center;}
.ydc-navmain .soso .spfl s{ float:left; width:17px; height:23px; overflow:hidden; cursor:pointer; }
.ydc-navmain .spfl div.openser{ width:130px; height:200px; border:2px solid #1F78BA; position:absolute; top:25px; left:-2px; background:#FFF; overflow-y:scroll; overflow-x:hidden; display:none;}
.ydc-navmain .spfl div.openser a{ display:block; zoom:1; height:25px; line-height:25px; overflow:hidden; padding:0px 10px;}
.ydc-navmain .spfl div.openser a:hover{ background:#FFC; color:#1b7abc; text-decoration:none;}
.ydc-navmain input.serch{ float:left; border:0px; width:180px; height:20px; line-height:20px; margin:2px 5px 0px 5px; color:#1b7abc;}
.ydc-navmain a.serchbtx{ float:right; width:55px; height:20px; text-indent:-999px; overflow:hidden;}
.ydc-navbot{ width:370px; float:right;}
.ydc-navbot li{ float:left;}
.ydc-spfl{ width:100%; height:31px; background:url(../images/ydc-navbg.gif) repeat-x 0px -71px; margin-bottom:10px; font-family:"宋体"; overflow:hidden;}
.ydc-spflmx{ width:980px; margin:0px auto; overflow:hidden;}
.ydc-spflmx p{ float:left;}
.ydc-spflmx .ydc-spfltit{height:29px; line-height:29px; padding-top:2px; margin-left:10px;color:#666; font-weight:bold; width:70px;}
.ydc-spflmx .ydc-spfls{ height:29px; padding-top:2px;  width:860px; padding-left:5px; overflow:hidden; float:left;}
.ydc-spflmx .ydc-spfls a{line-height:30px; height:30px; overflow:hidden; float:left; width:162px; text-align:left; margin-right:10px; color:#9A9A9A;}
.ydc-spflmx .ydc-spfls a:hover{ color:#1e7abd; text-decoration:none}
.ydc-spflmx .ydc-spflja{ float:right;width:20px; height:20px; margin-top:6px; margin-right:5px; background:url(../images/ydc-smbg.gif) 0px -150px no-repeat; cursor:pointer;}

